<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Temp Page Title</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  -->
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

</head>
<body>

<div class="container-fluid">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <%= breadcrumb %>
      </ol>
  </nav>

  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <h5 class="card-header bg-primary text-light border-primary rounded-top">
          Sidebar
        </h5>
        <div class="card-body bg-light text-dark">
         <%= sidebar %>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card">
        <div class="card-body bg-light text-dark">
         <%= content %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h5 class="card-header bg-primary text-light border-primary">
         Table of content
        </h5>
        <div>
          <%= table_of_content %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
